@model MyApp.Models.ErrorViewModel


<form asp-action="Submit">
    <div>
        <input asp-for="Id" />
    </div>
    <div>
        <input asp-for="Name" />
    </div>
    <div>
        <input asp-for="price"/>
    </div>

    <button type="submit">Submit</button>

</form>
